@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  /* brown */
  --color-brown-110: #73583D;
  --color-brown-100: #695747;
  --color-brown-90: #A27B5C;
  --color-brown-80: #CEA47C;
  --color-brown-70: #B09C8D;
  --color-brown-60: #B49B82;
  --color-brown-50: #B5947D;
  --color-brown-40: #B5947D;
  --color-brown-30: #EEDAC8;
  --color-brown-20: #F9F6F4;
  --color-brown-10: #FCFAF9;


  /* gray  */

  --color-gray-100: #262626;
  --color-gray-90: #363636;
  --color-gray-80 : #494949;
  --color-gray-70: #555555;
  --color-gray-60: #737373;
  --color-gray-50: #8A8A8A;
  --color-gray-40: #9F9F9F;
  --color-gray-30: #ABABAB;
  --color-gray-20: #E9E9E9;
  --color-gray-10: #F0F1F1;
}

* {
  font-family:'Urbanist'
} 

.shadow-container-agendamentos {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.05); 
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.05);
}